<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced Proxy</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <!-- 初期の大きな入力フォーム -->
    <div id="top-large">
        <h1>Yubikiri Proxy</h1>
        <input type="text" id="url-input-large" placeholder="表示したいページのURLを入力">
        <button id="fetch-button-large">Go</button>
    </div>

    <!-- スクロール時に表示される小さな入力フォーム -->
    <div id="top-small">
        <div class="top-small-content">
            <input type="text" id="url-input-small" placeholder="URLを入力...">
            <button id="fetch-button-small">Go</button>
        </div>
    </div>

    <!-- プロキシ結果を表示するコンテナ -->
    <div id="content">
        <iframe id="result-frame" sandbox="allow-scripts allow-forms allow-popups allow-pointer-lock"></iframe>
    </div>

    <!-- バージョン表示 -->
    <div class="version-label">
        v1.0
    </div>

    <script src="/script.js"></script>
</body>
</html>
